---
import GitHub from '@/icons/GitHubIcon.astro';
import LinkButton from './LinkButton.astro';
import Link from '@/icons/LinkIcon.astro';
import ReactJS from '@/icons/ReactJSIcon.astro';
import MaterialUI from '@/icons/MaterialUIIcon.astro';
import Firebase from '@/icons/Firebase.astro';
import Redux from '@/icons/ReduxIcon.astro';
import RRDom from '@/icons/RRDomIcon.astro';

const TAGS = {
  REACT: {
    name: 'React.js',
    class: 'bg-[#FACC15] shadow-lg shadow-[#FACC15]/50',
    icon: ReactJS,
  },
  MATERIAL: {
    name: 'Material UI',
    class: 'bg-[#FACC15] shadow-lg shadow-[#FACC15]/50',
    icon: MaterialUI,
  },
  FIREBASE: {
    name: 'Firebase',
    class: 'bg-[#FACC15] shadow-lg shadow-[#FACC15]/50',
    icon: Firebase,
  },
  REDUX: {
    name: 'RTK',
    class: 'bg-[#FACC15] shadow-lg shadow-[#FACC15]/50',
    icon: Redux,
  },
  ROUTER: {
    name: 'React Router DOM',
    class: 'bg-[#FACC15] shadow-lg shadow-[#FACC15]/50',
    icon: RRDom,
  },
};
const PROJECTS = [
  {
    title: 'Food World',
    description:
      'Aplicacion Responsiva, desarrollada con React JS, React Router DOM, consumiendo la API themealdb.',
    link: 'https://foods-ten-eta.vercel.app/',
    github: 'https://github.com/santic93/foods',
    image: '/projects/food.webp',
    tags: [TAGS.REACT, TAGS.MATERIAL],
  },
  {
    title: 'Journal App',
    description:
      'CRUD con React JS, React Router DOM, Firebase DB, Firebase Authentication, RTK, Material UI.',
    link: 'https://journal-app-seven-ebon.vercel.app/',
    github: 'https://github.com/santic93/journalApp',
    image: '/projects/journal.webp',
    tags: [TAGS.REACT, TAGS.MATERIAL, TAGS.REDUX, TAGS.FIREBASE, TAGS.ROUTER],
  },
];
---

<div class='flex flex-col gap-y-16'>
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
        <div class='w-full md:w-1/2'>
          <div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
            <img
              alt='Recién llegado vs 5 años en Nueva Zelanda'
              class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
              loading='lazy'
              src={image}
            />
          </div>
        </div>

        <div class='w-full md:w-1/2 md:max-w-lg '>
          <h3 class='text-2xl font-bold text-gray-800 dark:text-gray-100'>
            {title}
          </h3>
          <div class='flex flex-wrap mt-2'>
            <ul class='flex flex-row mb-2 gap-x-2'>
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 font-bold text-green-950 hover:bg-transparent hover:text-[#FACC15]  `}
                  >
                    {/* <tag.icon class='size-4' /> */}
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class='mt-2 text-gray-700 dark:text-gray-400'>
              {description}
            </div>
            <footer class='flex items-end justify-start mt-4 gap-x-4'>
              {github && (
                <LinkButton href={github}>
                  <GitHub class='size-6' />
                  Codigo
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class='size-4' />
                  Ir
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
